<ion-content [fullscreen]="true">
  <div class="body">
    <div class="container">
      <img src="../../../../assets/images/logo_polizaqui.jpeg" alt="PolizaAqui Logo">
      <h1>Seguro funerario</h1>
      <h2>Resumen de cobertura</h2>
      <div class="coverages">
       
        <div class="coverage-item">
          <span class="label">Cobertura Total:</span>
          <span class="amount">$1000.00</span>
        </div>
      </div>

      <div class="cost">
        <h2>Costo anual</h2>
        <p class="amount">$9.00</p>
      </div>

      <div class="policies">
        <h3>Políticas de suscripción</h3>
        <ul>
          <li>Admisibilidad: De 0 a 70 años</li>
          <li>Póliza Individual</li>
          <li>Plazo de espera: 30 días</li>
        </ul>
      </div>
      <div class="image-container">
        <img src="../../../../assets/images/logo_la_mundial.png" alt="">
      </div>
      <button class="button" (click)="routingNavigate()">Obtén tu seguro ahora</button>

    </div>
    <footer>
      <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
    </footer>

  </div>

</ion-content>
