<ion-content>
  <div class="body">
    <div class="container">
      <img src="../../../../assets/images/logo_polizaqui.jpeg" alt="PolizaAqui Logo">

      <h1>RCV moto</h1>
      <h2>Resumen de cobertura</h2>
      <div class="coverages">
          <div class="coverage-item">
              <span class="label">R.C.V daño a personas:</span>
              <span class="amount">$2,505.00</span>
          </div>
          <div class="coverage-item">
              <span class="label">R.C.V daños a cosas: </span>
              <span class="amount">$2,000.00</span>
          </div>
          <div class="coverage-item">
              <span class="label">Club ARYS - básico:</span>
              <span class="amount">Incluido</span>
          </div>
      </div>

      <div class="cost">
          <h2>Costo anual</h2>
          <p class="amount">$20.00</p>
      </div>
 
      <div class="policies">
          <h3>Políticas de suscripción</h3>
          <ul>
              <li>Elegibilidad: todo tipo de motos.</li>
              <li>Asegurabilidad: motos del año 1998 en adelante.</li>
          </ul>
      </div>
      <div class="image-container">
        <img src="../../../../assets/images/logo_la_mundial.png" alt="">
      </div>
      <button class="button" (click)="routingNavigate()">Obtén tu seguro ahora</button>
  </div>
  <footer>
    <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
</footer>
  </div>

</ion-content>