<ion-content [fullscreen]="true" Scroll-Y="true">
  <div class="body">
      <div class="container">
          <img src="../../../assets/images/logo_polizaqui.jpeg" alt="PolizaAqui Logo">
          <h1>Productos de seguros</h1>
          <div class="products">
              <div class="product-row">
                  <div class="flip-card" style="width: 100%;">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="https://img.icons8.com/ios-filled/50/808080/car--v1.png" alt="RCV Vehículo Icon">
                            <h2>RCV vehículo</h2>
                            <p>Responsabilidad civil vehículo</p>
                              <img src="../../../assets/images/logo_laoccidental.png" alt="La Mundial Logo" class="logo-mundial">
                          </div>
                          <div class="flip-card-back">
                              <p>Cobertura básica según la ley</p>
                              <button id="0" name="Gastos Funerarios" (click)="navigateRouting('0','Plan Auto')" >Comprar</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product-row">
                  <div class="flip-card" style="width: 100%;">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="https://img.icons8.com/ios-filled/50/808080/crane.png" alt="Grúa Icon">

                              <h2>plan Grúa</h2>
                              <p>Plan ilimitado para tu vehicúlo</p>
                              <img src="../../../assets/images/logo_laoccidental.png" alt="La Mundial Logo" class="logo-mundial">
                          </div>
                          <div class="flip-card-back">
                            <p>Cobertura básica según la ley</p>
                              <button id="1" name="Servicio Grua" (click)="navigateRouting('1','Servicio Grua')">Comprar</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <footer>
          <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
      </footer>
  </div>
 </ion-content>
 