<div class="modal-overlay" *ngIf="modalCompartir">
  <div class="modal-content">
    <button class="close-btn" (click)="closeModalCompatir()">&times;</button>
    <div class="icon-group">
      <ion-icon name="share-social" class="shared"></ion-icon>
    </div>
    <div class="button-group">
      <button class="custom-button2" (click)="dowloadApk()">
        <ion-icon name="logo-google-playstore" class="icon"></ion-icon>Instalar polizAqui
      </button>
    </div>

    <h1>Compartir</h1>

    <div class="button-group">
      <!-- Botón de descargar -->
      <button class="custom-button" (click)="downloadPolicy()">
        <ion-icon name="arrow-down" class="icon"></ion-icon>Descargar
      </button>

      <!-- Botón de email -->
      <button class="custom-button" (click)="shareByEmail()">
        <ion-icon name="mail" class="icon"></ion-icon>Email
      </button>

      <!-- Botón de Whatsapp -->
      <button class="custom-button" (click)="shareByWhatsapp()">
        <ion-icon name="logo-whatsapp" class="icon"></ion-icon>Whatsapp
      </button>
    </div>
    
  </div>
</div>