.chat-box {
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 90%;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 100;
  animation: slide-in 0.3s ease;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

ion-fab-button {
  --background: #Eb06B3;
  --color: #f1f1f1;
}

.message-container {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.message {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #757575;
  white-space: pre-line;
}


.trash {
  color: red;
  font-size: 19px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-content {
  display: flex;
  align-items: center;
}

.toolbar-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

input[type="text"]::placeholder {
  color: #aaa;
}

input[type="text"]:focus {
  outline: none;
  border-color: #Eb06B3;
  box-shadow: 0 0 5px rgba(235, 6, 179, 0.5);
}

button {
  padding: 10px 20px;
  background-color: #Eb06B3;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0059c;
}

button:active {
  background-color: #a00483;
}

button:focus {
  outline: none;
}
