<div class="body">
  <div class="container">
    <img src="../../../assets/images/logo_polizaqui.jpeg" alt="">
    <h1>Por favor elige el servicio</h1>

    <div class="button-group">
      <button class="button" (click)="routingNavigateMundial()">Mundial</button>
      <button class="button" (click)="routingNavigateOccidental()">occidental</button> 
    </div>
  </div>
  <footer>
    <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
  </footer>
</div>