<ion-content [translate]="true">
<div class="body">
    <div class="container">
        <img src="../../../../assets/images/logo_polizaqui.jpeg" alt="PolizAqui Logo">
        <h1>Mis Pólizas</h1>
        <div class="policy" *ngFor="let item of dataPoliza">
            <h3>Póliza N° {{item.numero_poliza}}</h3>
            <p><strong>Aseguradora:</strong> {{item.aseguradora}}</p>
            <p><strong>Plan:</strong> {{item.plan}}</p>
            <p><strong>Vigencia:</strong> {{item.fecha_emision | date: 'dd/MM/yyyy'}} -{{item.fecha_expiracion | date: 'dd/MM/yyyy'}} </p>
            <p><strong>Titular:</strong> {{item.titular}} {{item.titular_apellido}}</p>
            <p><strong>Monto:</strong> {{item.monto}} $</p>
            <p><strong>Status:</strong> <span class="status">{{item.estado_poliza}}</span></p>
            <button class="button" (click)="getPaymentData(item)">
                Compartir
              </button>     
            </div>    
    </div>
<div class="footer-div">
    <footer>
        <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
    </footer>
</div>
    
</div>

</ion-content>
<app-compartir [modalCompartir]="modalCompartir" [item]="item" (closeModal)="closeModal()"></app-compartir>

