<ion-content [fullscreen]="true">
    <div class="body">
      <div class="container">
        <img src="../../../../assets/images/logo_polizaqui.jpeg" alt="PolizaAqui Logo">
        <h1>Producto 3 en 1</h1>
        <h2>Resumen de cobertura</h2>
        <div class="coverages">      
          <div class="coverage-item">
            <span class="label">Vida:</span>
            <span class="amount">$500.00</span>
          </div>
          <div class="coverage-item">
            <span class="label">Funerario:</span>
            <span class="amount">$600.00</span>
          </div>
          <div class="coverage-item">
            <span class="label">Muerte accidental:</span>
            <span class="amount">$1,100.00</span>
          </div>
          <!-- <div class="coverage-item">
            <span class="label">Invalidez total:</span>
            <span class="amount">$1,100.00</span>
          </div> -->
        </div>
  
        <div class="cost">
          <h2>Costo anual</h2>
          <p class="amount">$12.00</p>
        </div>
  
        <div class="policies">
          <h3>Políticas de suscripción</h3>

          <ul>
            <!-- <li>Admisibilidad y permanencia: hasta los 74 años de edad</li> -->
            <li>No se requiere exámenes médicos</li>
            <li>Cobertura inmediata sin plazo de espera (Accidentes personales. y Vida)</li>
          </ul>
        </div>
        <div class="image-container">
          <img src="../../../../assets/images/logo_la_mundial.png" alt="">
        </div>
        <button class="button" (click)="routingNavigate()">Obtén tu seguro ahora</button>

      </div>

    </div>

      <footer>
          <p>&copy; 2024 PolizAqui. Todos los derechos reservados. <a href="term-policy-dev">Términos y Condiciones</a></p>
      </footer>

  </ion-content>
  